
@{
    ViewBag.Title = "Giới thiệu";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/introduce_style.css">

<div class="container news_section_container">
    <div class="row" id="breadcrumbs">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ </a></li>
                    <li class="active"><a href="/gioi-thieu"><i class="fa fa-angle-right" aria-hidden="true"></i>Giới thiệu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news text-center" style="font-size: 2rem; color: orangered; font-weight:bold;">Sơ lược về PetShop</h1>
            <div class="content">
                <h3 class="text-center" style="font-weight: bold;">Chào mừng đến với PetShop – Thiên đường phụ kiện dành cho thú cưng!</h3>
            </div>
        </div>
        <div class="col-lg-12 info">
            <div class="col-lg-4">
                <div class="row info1">
                    <div class="icon_info">
                        <h4>Cung Cấp Sản Phẩm Với Mức Giá Cả Phải Chăng</h4>
                        <img src="~/Content/assets/images/info1.png" />
                    </div>
                    <p>Ngoài các yếu tố về chất lượng sản phẩm cửa hàng uy tín, chuyên nghiệp cần mang đến sản phẩm với mức giá cả phải chăng đến khách hàng.</p>
                </div>
                <div class="row info1">
                    <div class="icon_info">
                        <h4>Nhân Viên Tư Vấn Nhiệt Tình, Am Hiểu Về Thú Cưng</h4>
                        <img src="~/Content/assets/images/info2.png" />
                    </div>
                    <p>Bên cạnh các sản phẩm cung cấp đến khách hàng bạn có thể căn cứ vào thái độ của nhân viên để đánh giá cửa hàng uy tín.</p>
                </div>
            </div>
            <div class="col-lg-4 text-center"><img src="~/Content/assets/images/bannervschon-4944.png" /></div>
            <div class="col-lg-4 info2">
                <div class="row">
                    <div class="icon_info">
                        <img src="~/Content/assets/images/info3.png" />
                        <h4>Cung cấp sản phẩm chất lượng</h4>
                    </div>
                    <p>Một trong những tiêu chí quan trọng để đánh giá nhà cung cấp thức ăn thú cưng uy tín chính là mang đến sản phẩm chất lượng. Các sản phẩm như thức ăn, sữa...</p>
                </div>
                <div class="row info2">
                    <div class="icon_info">
                        <img src="~/Content/assets/images/info4.png" />
                        <h4>Cung cấp sản phẩm đa dạng, phong phú</h4>
                    </div>
                    <p>Mỗi loại thú cưng lại có đặc điểm và thói quen riêng biệt. Các đơn vị cung cấp thức ăn chó mèo uy tín cần mang đến đầy đủ các sản phẩm đáp ứng nhu cầu.</p>
                </div>
            </div>
        </div>
        <div class="content">
            <p style="font-size: 18px;">
                Tại <span style="color: orangered; font-weight: bold;">PetShop</span>, chúng tôi hiểu rằng thú cưng không chỉ là bạn đồng hành mà còn là một phần quan trọng trong gia đình của bạn. Với sứ mệnh mang lại niềm vui và sự thoải mái cho các bé cưng, <span style="color: orangered; font-weight: bold;">PetShop</span> cung cấp đa dạng các loại phụ kiện chất lượng cao, từ quần áo, vòng cổ, dây dắt, đồ chơi đến các sản phẩm chăm sóc sức khỏe và làm đẹp.

                Điều đặc biệt tại <span style="color: orangered; font-weight: bold;">PetShop</span> chính là các sản phẩm luôn được chọn lọc kỹ lưỡng, đảm bảo an toàn và thân thiện với thú cưng. Không chỉ vậy, đội ngũ nhân viên nhiệt tình và giàu kinh nghiệm của chúng tôi luôn sẵn sàng tư vấn để bạn lựa chọn được những món đồ phù hợp nhất với bé yêu của mình.

                Chúng tôi cam kết mang đến sản phẩm an toàn, giá cả hợp lý cùng dịch vụ tận tâm, để bạn có thể yên tâm chăm sóc thú cưng của mình một cách tốt nhất.

                Hãy ghé thăm <span style="color: orangered; font-weight: bold;">PetShop</span> ngay hôm nay để cùng trải nghiệm không gian mua sắm thú vị và trọn vẹn dành riêng cho thú cưng yêu quý của bạn!
            </p>
        </div>
    </div>
</div>

